<!DOCTYPE html>
<html ng-app="basicApp">
<head>
	<title>Basic Angular App</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">

	<style>

		.addListName .ng-hide-add{
			transition: all linear 1s;
		}

	</style>

</head>
<body>

<!-- Navigation Bar -->
<nav role="navigation" class="navbar navbar-default" ng-controller="listsController as lc">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a ui-sref="home" class="navbar-brand">Brand</a>
		</div>
		<!-- Collection of nav links and other content for toggling -->
		<div id="navbarCollapse" class="collapse navbar-collapse"
		     ng-controller="navController as nav">
			<ul class="nav navbar-nav">
				<li ng-class="{ active: nav.isActive('/home')}">
					<a ui-sref="home">Home</a></li>
				<li ng-class="{ active: nav.isActive('/list?listIndex={{$index}}')}" ng-repeat="list in lc.lists">
					<a ui-sref="list({listIndex: {{$index}}})">{{list.name}}</a></li>
				<li>
					<a href="#" ng-click="lc.inputField = true" ng-hide="lc.inputField === true">+</a>
					</li>
				<li>
					<a href="#" class="addListName" ng-show="lc.inputField">
						<input class="newListName" ng-model="lc.name">
						<button ng-click="lc.addList(lc.name); lc.inputField = false">Add</button>
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a ui-sref="login">Login</a></li>
				<li ng-class="{ active: nav.isActive('/about')}">
					<a ui-sref="about">About</a></li>
			</ul>
		</div>
	</div>
</nav>

<div ui-view class="top-margin">
</div>

<!-- lib js files -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

<!-- app controller js files -->
<script src="js/data.js"></script>
<script src="js/itemsController.js"></script>
<script src="js/listsController.js"></script>
<script src="js/navController.js"></script>

<!-- load app.js last -->
<script src="js/app.js"></script>

</body>
</html>
